*{
	margin:0;
	padding:0;
}
body
{
	font-family: arial;
}
.hero
{
	margin: 0 auto;
	width: 1140px;
	position:absolute;
	top:20%;
	left:50%;
	transform: translate(-50%);
}

header
{
	background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(../images/bg.jpg);
	height:100vh;
	background-size:cover;
	background-position:bottom;
	background-attachment:fixed;
}

.logo
{
	 margin:0 auto;
	width:1140px;
}

.logo img
{
	width:100px;
	height:130px;
	float:left;
}

.hero h2
{
	color:#fff;
	font-family: 'Pacifico', cursive;
	font-size:28px;
	text-shadow:1px 1px 10px #F00;
}

.rows
{
	margin:0 auto;
	width:1140px;
}

.main-nav
{
	margin-top:20px;
	list-style:none;
	float:right;
	
}

.main-nav li 
{
	float:left;
	margin-right:40px;
}
.main-nav li a 
{
	text-decoration:none;
	color:#fff;
	font-size:20px;
	font-family:tahoma;
}

.main-nav li a:hover
{
	border-bottom: 2px solid #F93;
	padding: 10px 0;
	transition: 0.5s ease-out;
}

.btns-1
{
	margin-left:100px;
}

.full-btn
{
	background:#F63;
	color:#FFF;
	border:none;
	outline:none;
	padding:8px 20px;
	border: 1px solid #f63;
	font-family: 'Pacifico', cursive;
}

.half-btn
{
	background:transparent;
	color:#FFF;
	border:none;
	outline:none;
	padding:8px 20px;
	border: 1px solid #f63;
	font-family: 'Pacifico', cursive;
}

.full-btn:hover
{
	background:transparent;
	transition: all 0.5s ease;
}
.half-btn:hover
{
	background:#f63;
	transition: all 0.5s ease;
}

.features
{
	margin:0 auto;
	width:1140px;
	margin-top:20px;
}
.features h3
{
	font-family: 'Pacifico', cursive;
	text-align:center;
	margin-bottom:10px;
}


.features p
{
	text-align:center;
	font-size:18px;
	margin-bottom:10px;
}

.features h3:after
{
	text-align:center;
	width:100px;
	height:2px;
	background:#f63;
	display:block;
	content:" ";
	margin:0 auto;
}

.para
{
	width: 70%;
	margin-left: 15%;
	margin-bottom: 20%;
}
.col-md-3 h2
{
	font-family: 'Pacifico', cursive;
}

.col-md-3 i
{
	color: #f63;
	font-size: 40px;
	margin-left: 40%;

}
.meal-showcase
{
	list-style: none;
	width: 100%;
}
.meal-showcase li
{
	width: 25%;
	float: left;
}

.meal-photo
{
	width: 100%;
	margin:0;
	overflow: hidden;
}

.meal-photo img
{
	width: 100%;
	height: 250px;
	transform: scale(1.15);
	transition: all 0.5s;
	opacity: 0.7;
}

.meal-photo img:hover
{
	transform: scale(1);
	opacity: 1;
	transition: all 0.5s ease-out;
}
.meal
{
	margin:50px;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
.clearfix { display: inline-block; }
/* start commented backslash hack \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }

footer
{
	background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(../images/footer.jpg);
	height:100vh;
	background-size:cover;
	background-position:center;
	background-attachment:fixed;
}


footer h1
{
	padding-top: 30px;
	font-family: 'Pacifico', cursive;
	color: #FFF;
	text-shadow:1px 1px 10px #F00;
}

footer p
{
	color: white;
	font-size: 18px;
}

.forms h2
{
	color: white;
	font-family: 'Pacifico', cursive;
	margin:20px 0;
	text-shadow:1px 1px 10px #000;

}
.forms ul
{
	list-style: none;
}


.forms ul li
{
	margin-bottom: 10px;
}
.textfields, .textarea
{
	width: 300px;
	height: 30px;
	border-radius: 5px;
	border: 1px solid #ccc;
	background:transparent;
	padding-left: 10px
	color:#FFF;
}

.textarea
{
	height: 100px;
	resize: none;
}

.btns
{
	background: transparent;
	color: #fff;
	border: 1px solid #ccc;
	padding: 5px 10px;
	border-radius: 10px;
	outline: none;
}
.btns:hover
{
	background:#be3431;
	transition: all 0.5s ease-in;

}